html {
  background: url("../images/bg.jpg");
  min-width: 100%;
  min-height: 100%;
}

body {
  margin: 40px;
  width: 60%;
  max-width: 960px;
  font-family: sans-serif;
  color: #555;
  line-height: 125%;
}

p {
  margin: 0 0 1em 0;
}

header {
  margin-bottom: 40px;
}

header h1 {
  font-size: 40px;
  margin: 0 0 0.3em 0;
  line-height: 120%;
  color: #222;
}

h2 {
  margin: 0.2em 0 0.8em 0;
  color: #444;
}

ul {
  margin: 0;
}

ul li {
  padding: 0.2em;
}

ul li:nth-child(2n+1) {
  background: rgba(0,0,0,0.02);
}

a {
  color: #0085B2;
  -webkit-transition: color 0.2s ease-out;
     -moz-transition: color 0.2s ease-out;
       -o-transition: color 0.2s ease-out;
          transition: color 0.2s ease-out;

}

a:visited {
  color: #777;
}

a:hover {
  color: #009DD1;
}

section {
  padding: 20px;
  border: 1px solid #ddd;
  background: #FFF;
  border-radius: 6px;
  margin: 15px 0 30px 0;
}
