<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Jank Busters: helping you get your projects silky smooth!">
  <meta name="viewport" content="width=device-width">

  <title>Jank Free: Let's Make the Web Silky Smooth!</title>
  <link rel="stylesheet" href="css/site.css" media="screen">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300">

</head>
<body>

  <header>
    <div class="container">
      <h1 class="ir">Jank Free</h1>
    </div>
  </header>

  <section class="rss">
    <div class="container">
      Would you like to stay up-to-date with Jank Free? <a href="/feed/all.xml">Grab the RSS Feed!</a>
    </div>
  </section>

  {{ content }}

  <footer>
    <div class="container">
      <h2>Got links to share?</h2>
      <ul>
        <li>nduca@chromium.org</li>
        <li>wiltzius@chromium.org</li>
        <li>aerotwist@chromium.org</li>
      </ul>
    </div>
  </footer>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33031197-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
